body {
    font-family: Arial;
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

h2 {
    text-align: center;
}

.container {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin: 6px 0;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.result {
    margin-top: 15px;
    font-weight: bold;
}
