body {
    font-family: Arial;
    background: #f2f4f6;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2, h3, h4 {
    text-align: center;
}

label {
    margin-top: 10px;
    font-weight: bold;
    display: block;
}

input {
    width: 100%;
    padding: 12px;
    margin: 5px 0 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 14px;
    background: #0066ff;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
}

hr {
    margin: 20px 0;
}

.progress-bar {
    width: 100%;
    height: 22px;
    border-radius: 12px;
    background: #d4d7db;
    overflow: hidden;
    margin-top: 10px;
}

#progressFill {
    height: 100%;
    width: 0;
    background: #28a745;
    transition: width 0.6s ease;
}

#hasil, #progressText {
    text-align: center;
    font-size: 17px;
    margin-top: 10px;
}
