body {
    font-family: Arial;
    max-width: 700px;
    margin: auto;
    padding: 20px;
}

h2, h3 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td {
    border: 1px solid #6c757d;
    padding: 10px;
}

input {
    width: 98%;
    padding: 6px;
    border: none;
    outline: none;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}
